backend/data/assistant_db.mv.db
backend/data/assistant_db.trace.db
/backend/logs
/backend/data
/frontend/arklight-frontend/chara/test
/chara/test
/.idea
.idea/workspace.xml
/backend/test
backend/benchmark/longmemeval/longmemeval_oracle.json
backend/benchmark/longmemeval_m_cleaned.json
backend/benchmark/longmemeval_s_cleaned.json
/backend/benchmark/longmemeval/__pycache__
/backend/benchmark/out
/backend/benchmark/halumem/__pycache__/
backend/benchmark/halumem/*.jsonl
/backend/benchmark/halumem/__pycache__
